[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
icecream = "*"
loguru = "*"
arrow = "*"
numpy = "*"
pytz = "*"
openai = "*"
jupyterlab = "*"
jupytext = "*"
typer = "*"
rich = "*"
seaborn = "*"
matplotlib = "*"
pandas = "*"
ipywidgets = "*"
altair = "*"
plotly = "*"
pyfiglet = "*"
jsonpickle = "*"
pandas-datareader = "*"
nltk = "*"
fernet = "*"
html2text = "*"
cryptography = "*"
imutils = "*"
scikit-learn = "*"
jupyterlab-vimrc = "*"
pendulum = "*"
poetry = "*"
tiktoken = "*"
modal-client = "*"
uvicorn = "*"
py-cord = "*"
asyncify = "*"
asyncer = "*"
mypy = "*"
unstructured = "*"
chromadb = "*"
wandb = "*"
pudb = "*"
tenacity = "*"
sparklines = "*"
ruff = "*"
pre-commit = "*"
ruff-lsp = "*"
torch= "*"
torchvision="*"
opencv-python="*"
jupyterlab-lsp= "*"
jupyter-lsp = "*"
jupyterlab-vim = "*"
elevenlabs = "*"
httpx = "*"
langchain = "*"
langchain-google-genai = "*"
langsmith = "*"
langchain-openai = "*"
langchain-anthropic = "*"
langchain-groq= "*"
# On the mac can install tensor flow as follows
# python3 -m pip install tensorflow-macos
idvorkin-nlp = {file = "../../gits/nlp"}
langchain-chroma = "*"

[dev-packages]

[requires]
python_version = "3.12"
