# Don't forget you need to change perms
# chmod 600 ~/.ssh/config


Host lightsail_no_forward
    # run settings/clip_forward on remote machine
    HostName shell.idvork.in
    User ec2-user
    RemoteForward 2224 127.0.0.1:2224 # clipboard copy
    RemoteForward 2225 127.0.0.1:2225 # clipboard paste
    RemoteForward 20000 127.0.0.1:20000 # auto ssh


Host lightsail_clipboard
    # run settings/clip_forward on remote machine
    HostName shell.idvork.in
    User ec2-user
    RemoteForward 2224 127.0.0.1:2224
    RemoteForward 2225 127.0.0.1:2225
    RemoteForward 20000 127.0.0.1:20000 # auto ssh

Host lightsail
    # For use w/Bink
    # ssh -N -L 4000:localhost:4000 -L 35729:localhost:35729 s2_12_9_ipad13
    HostName shell.idvork.in
    User ec2-user
    # Juypter
    LocalForward 8888 localhost:8888

    # movie geeks
    LocalForward 8010 localhost:8010

    LocalForward 8000 localhost:8000
    # Jekyll
    LocalForward 4000 localhost:4000
    # Grip
    LocalForward 6419 localhost:6419
    # Jekyll live reload
    LocalForward 35729 localhost:35729
    RemoteForward 5726 localhost:5726

    #


Host bedrock-4
    HostName mc.zacookiegames.com
    User ubuntu

Host devbox
    Hostname devvm5807.prn0.facebook.com
    LocalForward 8087 localhost:8087

Host freddy_prod
    Hostname devvm17926.prn0.facebook.com
    LocalForward 8086 devvm17926.prn0.facebook.com:8087



Host dsvm
    HostName 20.84.68.112
    User azureuser
    # Juypter
    LocalForward 8888 localhost:8888
    LocalForward 8889 localhost:8889
    LocalForward 8000 localhost:8000
