# Don't forget you need to change perms
# chmod 600 ~/.ssh/config


Host lightsail_no_forward
    HostName 34.217.43.199
    User ec2-user


Host lightsail
    HostName 34.217.43.199
    User ec2-user
    # Juypter
    LocalForward 8888 localhost:8888
    # Jekyll
    LocalForward 4000 localhost:4000
    # Grip
    LocalForward 6419 localhost:6419
    # Jekyll live reload
    LocalForward 35729 localhost:35729

Host bedrock-4
    HostName mc.zacookiegames.com
    User ubuntu


